
body {
    padding: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* sprites images READ ABOUT IT */

header {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 180%;
}

main {
    max-width: 800px;
    position: relative;
    margin: auto;
}
main div {
    box-sizing: border-box;
}


.game-container{
    position: relative;
    max-width: 600px;
    margin: auto;
}

.wrap-box {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.ludo-board {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0.2%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.row {
    font-size: 0;
}

.row .col {
    display: inline-block;
    vertical-align: middle;
}

.row1,
.row3 {
    width: 100%;
    height: 40%;
}

.row2 {
    width: 100%;
    height: 20%;
}

#wrap-in-area {
    width: 40%;
    height: 100%;
    background: black;
    padding: 0.2%;
    display: inline-block;
    vertical-align: middle;
}

.in-area {
    background: chartreuse;
    padding: 12%;
    width: 100%;
    height: 100%;
}

.row1 .out-area,
.row3 .out-area {
    width: 20%;
    height: 100%;
    background: black;
    padding: 0;
}

.row2 .out-area {
    width: 40%;
    height: 100%;
    background: black;
}

.win-area {
    width: 20%;
    height: 100%;
}

.red-zone {
    background-color: #ED2027;
}

.green-zone {
    background-color: #05A24B;
}

.blue-zone {
    background-color: #254399;
}

.yellow-zone {
    background-color: #FFDE05;
}

.btw-g-r .row,
.btw-b-y .row {
    width: 100%;
    height: calc(100% / 6);
}

.btw-g-r .row .col,
.btw-b-y .row .col {
    width: calc(100% / 3);
    height: 100%;
    padding: 1%;
    background: black;
    font-size: 0;
}

.btw-g-r .row .col div,
.btw-b-y .row .col div {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 5%;
    display: inline-block;
}

.btw-r-b .row,
.btw-y-g .row {
    width: 100%;
    height: calc(100% / 3);
}

.btw-r-b .row .col,
.btw-y-g .row .col {
    width: calc(100% / 6);
    height: 100%;
    background: black;
    padding: 0.5%;
    font-size: 0;
}

.btw-r-b .row .col div,
.btw-y-g .row .col div {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 5%;
    display: inline-block;
}

.win-area .row {
    width: 100%;
    height: 50%;
    background: black;
}

.win-area .row .col {
    width: 50%;
    height: 100%;
}

.win-area .row1 .col1 {
    background: linear-gradient(to left bottom, #05A24B 0%, #05A24B 49%, black 49%, black 50%, transparent 50%),
        linear-gradient(to right top, #ED2027 0%, #ED2027 49%, black 49%, black 50%, transparent 50%)
}

.win-area .row1 .col2 {
    background: linear-gradient(to right bottom, #05A24B 0%, #05A24B 49%, black 49%, black 50%, transparent 50%),
        linear-gradient(to left top, #FFDE05 0%, #FFDE05 49%, black 49%, black 50%, transparent 50%);
}

.win-area .row2 .col1 {
    background: linear-gradient(to left top, #254399 0%, #254399 49%, black 49%, black 50%, transparent 50%),
        linear-gradient(to right bottom, #ED2027 0%, #ED2027 49%, black 49%, black 50%, transparent 50%)
}

.win-area .row2 .col2 {
    background: linear-gradient(to right top, #254399 0%, #254399 49%, black 49%, black 50%, transparent 50%),
        linear-gradient(to left bottom, #FFDE05 0%, #FFDE05 49%, black 49%, black 50%, transparent 50%);
}

.g-out-box {
    background: #05A24B !important;
}

.r-out-box {
    background: #ED2027 !important;
}

.b-out-box {
    background: #254399 !important;
}

.y-out-box {
    background: #FFDE05 !important;
}


.in-area .row {
    width: 100%;
    height: 50%;
    background: white;
}

.in-area .row .col {
    width: 50%;
    height: 100%;
    padding: 10%;
    background: white;
}

/* Red Section */

.r-circle {
    background: #ED2027;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.r-pawn1 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 0%;
    background-position-y: 66.66%;
}

.r-pawn2 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 33.33%;
    background-position-y: 66.66%;
}

.r-pawn3 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 66.66%;
    background-position-y: 66.66%;
}

.r-pawn4 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 100%;
    background-position-y: 66.66%;
}


/* Green Section */

.g-circle {
    background: #05A24B;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.g-pawn1 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 0%;
    background-position-y: 33.33%;
}

.g-pawn2 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 33.33%;
    background-position-y: 33.33%;
}

.g-pawn3 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 66.66%;
    background-position-y: 33.33%;
}

.g-pawn4 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 100%;
    background-position-y: 33.33%;
}

/* Yellow Section */

.y-circle {
    background: #FFDE05;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.y-pawn1 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 0%;
    background-position-y: 100%;
}

.y-pawn2 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 33.33%;
    background-position-y: 100%;
}

.y-pawn3 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 66.66%;
    background-position-y: 100%;
}

.y-pawn4 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 100%;
    background-position-y: 100%;
}

/* Blue Section */

.b-circle {
    background: #254399;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.b-pawn1 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 0%;
    background-position-y: 0%;
}

.b-pawn2 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 33.33%;
    background-position-y: 0%;
}

.b-pawn3 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 66.66%;
    background-position-y: 0%;
}

.b-pawn4 {
    background-image: url("../images/pawns.png");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position-x: 100%;
    background-position-y: 0%;
}


/* Star */

.star-stop {
    background-image: url(../images/star.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 80% !important;
}